In [1]:
import dask.dataframe as dd
import pandas as pd
from dask import compute

In [10]:
df_full = dd.read_csv("/Volumes/GoogleDrive/My Drive/Personal-Radim/Studies/Integrify/HWs/liquor_trimmed.csv",engine="python",
            error_bad_lines=False,dtype={
       'Bottles Sold': 'float64',
       'County Number': 'object',
       'Item Number': 'object',
       'Pack': 'float64',
       'Store Number': 'object',
        'Zip Code' : 'object',
       'Unnamed: 0': 'object',
       'Vendor Number': 'object',
        'Bottle Volume (ml)': 'float64'})

Skipping line 941: unexpected end of data

In [136]:
df_final = dd.from_pandas(df_full.compute(), npartitions=8).dropna(subset = ['Date', 'State Bottle Cost', 'Vendor Number'])

Skipping line 232849: unexpected end of data
Skipping line 232528: unexpected end of data
Skipping line 2: ',' expected after '"'
Skipping line 4: ',' expected after '"'
Skipping line 6: ',' expected after '"'
Skipping line 8: ',' expected after '"'
Skipping line 10: ',' expected after '"'
Skipping line 12: ',' expected after '"'
Skipping line 14: ',' expected after '"'
Skipping line 16: ',' expected after '"'
Skipping line 18: ',' expected after '"'
Skipping line 20: ',' expected after '"'
Skipping line 22: ',' expected after '"'
Skipping line 24: ',' expected after '"'
Skipping line 26: ',' expected after '"'
Skipping line 28: ',' expected after '"'
Skipping line 30: ',' expected after '"'
Skipping line 32: ',' expected after '"'
Skipping line 34: ',' expected after '"'
Skipping line 36: ',' expected after '"'
Skipping line 38: ',' expected after '"'
Skipping line 40: ',' expected after '"'
Skipping line 42: ',' expected after '"'
Skipping line 44: ',' expected after '"'
Skipping line 46: ',' expected after '"'
Skipping line 48: ',' expected after '"'
Skipping line 50: ',' expected after '"'
Skipping line 52: ',' expected after '"'
Skipping line 54: ',' expected after '"'
Skipping line 56: ',' expected after '"'
Skipping line 58: ',' expected after '"'
Skipping line 60: ',' expected after '"'
Skipping line 233349: unexpected end of data
Skipping line 233321: unexpected end of data

In [137]:
df_final.compute().shape

(2000905, 24)

In [138]:
df_final.isnull().sum().compute()

Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1411
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5898
Category Name            5898
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
dtype: int64

In [100]:
df_no_cat = df_full_4[df_full_4["Category Name"].isna().compute()]

/Users/radimmusalek/opt/anaconda3/lib/python3.7/site-packages/dask/dataframe/core.py:3661: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  meta = self._meta[_extract_meta(key)]

In [104]:
df_no_cat.reset_index()

Dask DataFrame Structure:
               index Invoice/Item Number    Date Store Number Store Name Address    City Zip Code Store Location County Number  County Category Category Name Vendor Number Vendor Name Item Number Item Description     Pack Bottle Volume (ml) State Bottle Cost State Bottle Retail Bottles Sold Sale (Dollars) Volume Sold (Liters) Volume Sold (Gallons)
npartitions=8
               int64              object  object       object     object  object  object   object         object        object  object  float64        object        object      object      object           object  float64            float64            object              object      float64         object              float64               float64
                 ...                 ...     ...          ...        ...     ...     ...      ...            ...           ...     ...      ...           ...           ...         ...         ...              ...      ...                ...               ...                 ...          ...            ...                  ...                   ...
...              ...                 ...     ...          ...        ...     ...     ...      ...            ...           ...     ...      ...           ...           ...         ...         ...              ...      ...                ...               ...                 ...          ...            ...                  ...                   ...
                 ...                 ...     ...          ...        ...     ...     ...      ...            ...           ...     ...      ...           ...           ...         ...         ...              ...      ...                ...               ...                 ...          ...            ...                  ...                   ...
                 ...                 ...     ...          ...        ...     ...     ...      ...            ...           ...     ...      ...           ...           ...         ...         ...              ...      ...                ...               ...                 ...          ...            ...                  ...                   ...
Dask Name: reset_index, 32 tasks

In [106]:
df = df_final.dropna(subset = ['Category Name'])

In [107]:
df.isnull().sum().compute()

Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1408
City                     1407
Zip Code                 1407
Store Location           1407
County Number            1407
County                   1407
Category                    0
Category Name               0
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
dtype: int64

In [128]:
missing_addresses = df[df["Address"].isna()].compute()["Store Number"].unique()

In [129]:
missing_addresses

array(['4378', '5307', '4478', '9932', '5230', '3822', '5235', '2556',
       '9911', '5197', '5242', '5248', '2641', '5259', '5167', '5169',
       '5388', '4482', '5107', '5070', '4319', '5340', '5088', '4416',
       '5185', '4983', '5305'], dtype=object)

In [ ]:
dict_add = {}
for store in add_mis_store:
    addresses = []
    address[0]
    
    
    
    
    dict_add[store] =

In [ ]:
df1 = df_dask[df_dask['Store Number'] == '4416'].fillna(value = {'Address': '501 McPherson St', 'City': 'Casey'})

In [122]:
df.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [ ]:
# remove columns 'Volume Sold (Gallons)'